@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #003049;
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  text-align: center;
}

button {
  width: 100%;
}

.horizontal-layout {
  display: flex;
}

.section-options {
  text-align: center;
}

.section-canvas {
  display: flex;
  width: 100%;
  height: 100%;
  column-gap: 3px;
}

.section-graph {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #d62828;
}

.section-cores {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f77f00;
}

#sigma-graph,
#sigma-cores {
  height: 100%;
  background-color: #e3e6e8;
}

canvas {
  position: fixed !important;
}
